.blog{
    width:80vw;
    height:60vh;
    margin:0 auto;
    display: block;
    margin-bottom: 20px;
}

.wrapper{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}
.wrapper>div{
    width:100%;
}
.title{
    width:80vw;
    margin-bottom:30px;
   
}
.input{
    position:relative;
    display: block;
    width:80vw;
    margin:0 auto;
}