@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Libre:ital,wght@1,300&display=swap');
h1{
    font-family:"Amatic SC",sans-serif;
    text-align: center;
}

.formPage{
    position: relative;
    z-index: 1;
}
.form ,.blogInfo{
    position: relative;
    width:min(80%,300px);
    background: transparent;
    margin:10px auto;
    border:1px solid black;
    border-radius:5px;
    padding-bottom:20px;
    box-shadow:2px 2px 4px rgb(100,100,100);
    /* filter:blur(1px); */
}
.form>*{
    margin:20px;
    width:80%;
}
input{
    width:100%;
    border-radius:2px;
    /* width:180px; */
    padding-top:10px;
    border:1px solid black;
    
}
.input{
    position:relative;
    display: block;
}
label{
    color:rgba(100,100,100);
    position:absolute;
    left:0;
    margin:5px;
    top:0;
    transition:all 1s;
}
.select::after{
    position:relative;
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-top:5px solid white;
    top:50%;
    margin:5px;
}

input:valid + label{
    margin-top:1px;
    
    font-size:10px;
}
.LoginMessage{
    position:relative;
}
.submit{
    background:#059862;
    color:white;
    border:none;
    border-radius:20px;
    padding:10px 25px;
    
}
